<h1> Stupid Coaching </h1>

<p class= question>You: <strong><%= params[:question] %></strong></p>
<p class= answer>Coach: <strong><%= @answer %></strong></p>


<%= link_to "Ask a new question", ask_path %>
